/* .container{
    background-color: chartreuse;
} */

.card{
width: 312px;
height: 402px;
flex-shrink: 0;
border-radius: 12px;
background: #FFF;
}
.card-info{
    display: flex;
    justify-content: space-evenly;
    
}
.btn{
width: 280px;
height: 40px;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid #2F80ED;
background: #2F80ED;
}
.home-container{
    display: flex;
}
.card-container{
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}